{% for label, messages in app.flashes(['success', 'warning', 'info']) %}
    {% for  message in messages %}
        <div class="'aler alert-{{ label }} text-center">
            {{ message }}
        </div>
    {% endfor %}
{% endfor %}